.image {
    display: inline-flex;
    width: 100%;
    min-height: 200px;
    max-height: 800px;
    margin-bottom: 1rem;
    position: relative;
}

.back__button {
    display: none !important;
}


.bottem__right {
    position: absolute !important;
    bottom: 1rem !important;
    right: 1rem !important;
}

.point {
    cursor: pointer;
}

.image__img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    transition: all 0.3s ease;
}

@media screen and (min-width: 740px) {
    .image__header {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        transition: all 0.3s ease;
        opacity: 0;
        z-index: 2;
    }

    .image:hover .image__img,
    .image:focus-within .image__img {
        filter: brightness(80%);
    }

    .image:hover .image__header,
    .image:focus-within .image__header,
    .image:hover .image__footer,
    .image:focus-within .image__footer {
        opacity: 1;
    }

    .image__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s ease;
        opacity: 0;
        z-index: 2;
    }

    .image__footerLeft {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
        text-decoration: none;
    }

    .image__footerLeftName {
        margin-left: 0.5rem;
        color: whitesmoke;
        font-weight: 500;
        user-select: none;
        opacity: 0.7;
        transition: 0.2s ease;
    }

    .image__footerLeftName:hover {
        opacity: 1;
    }
}

.image__button {
    /*border-radius: 4px !important;*/
    padding: 0.3rem 0.45rem !important;
    min-height: 0;
    min-width: 0;
}

.like {
    background-color: #f15151 !important;
    color: #ffffff !important;
    border: 1px !important;
    solid: #000000 !important;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.download {
    background-color: #3cb46e !important;
    color: white !important;
    text-transform: none !important;
    font-size: 15px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
}

.image__tags:hover {
    background-color: #e1e1e1 !important;
    color: #111 !important;
}

.image__tags {
    background-color: rgb(238, 238, 238) !important;
    color: #767676 !important;
    border-radius: 4px !important;
    display: inline-block;
    font-size: 16px !important;
    line-height: 26px !important;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif !important;
    padding: 8px !important;
    text-decoration: none;
    text-transform: capitalize !important;
    transition: all 0.1s ease-in-out;
    margin: 5px !important;
    box-sizing: border-box;
}

.image-container {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.05);
}

.shimmer {
    color: grey;
    display: inline-block;
    -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
    font-size: 50px;
    /*max-width:200px;*/
}

@keyframes shimmer {
    100% {
        -webkit-mask-position: left;
    }
}

.pad {
    visibility: hidden !important;
    padding: 2px;
}

@media screen and (max-width: 740px) {
    .paper__title {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .paper__description {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .back__button {
        display: block !important;
        margin-right: 1rem !important;
        margin-left: auto !important;
        /*border: 8px outset #999 !important;*/
        -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4) !important;
        -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4) !important;
    }

    .paper {
        padding: 0 !important;
    }

    .image__button {
        background-color: #ffffff !important;
        border: 1px solid rgba(0, 0, 0, 0.23) !important;
    }

    .image__header {
        color: #111111 !important;
        padding-top: 1rem !important;

        padding-left: 1rem !important;
        display: flex !important;
        flex-direction: row !important;
    }

    .image__footerLeft {
        padding-left: 1rem !important;
        padding-bottom: 0.5rem !important;
        padding-top: 1rem !important;
    }

    #dlbtn {
        /*position: relative !important;*/
        /*bottom: -1rem !important;*/
        /*right: -1rem !important;*/
        padding-top: 1rem !important;
        display: inline-block !important;
        /*padding-bottom: 1rem !important;*/
    }

    .back__button:hover {
        background-color: rgba(0, 0, 0, 0.04) !important;
    }

    .pad {
        padding: 0 !important;
    }

    /*.img__spacing {*/
    /*height: 2rem!important;*/
    /*}*/
    #fleximg {
        /*display: flex !important;*/
        /* Optional, if you want the DIVs 100% width: */
        flex-direction: column !important;
        width: 100% !important;
    }

    #img {
        order: 2 !important;
    }

    #title {
        order: 1 !important;
    }

    #btn {
        order: 3 !important;
    }

    #dlbtn {
        order: 4 !important;
    }
}
